@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}